<div class="card border-0 mb-4 p-0">
    <div class="card-header transparent border-0">
      <h5 class="font-weight-bold mb-0">Gestion Profil</h5>
    </div>
  </div>
  <div widget class="card border-0 box-shadow">
  
  
    <div class="card-body widget-body">
  
      <form class="form-horizontal" [formGroup]="myform" novalidate (ngSubmit)="onSubmit()">
  
        <div class="form-group row text-left text-sm-right">
          <label for="lastname" class="col-sm-3 form-control-label mt-1">Nom</label>
          <div class="col-sm-3 text-left">
            <input type="text" class="form-control"  formControlName="nom" id="lastname" required>
            <small class="text-danger" *ngIf="myform.controls.nom.touched && myform.controls.nom.errors?.required">Champ requis</small>
          </div>
  
        </div>
  
        <div class="form-group row">
          <div class="col-sm-6 offset-sm-3 d-flex justify-content-between">
  
            <button class="btn btn-primary  btn-lg pull-right " type="submit">Valider</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
