<div class="card border-0 mb-4 p-0">
    <div class="card-header transparent border-0">
      <h6 class="mb-3 font-weight-bold ">Rechercher par profil</h6>
      

      <form class="form-inline">

       <div class="col-md-2"><label for="exampleSelect3">Profil</label></div>
          <div class="form-group col-md-3">
              <div class="form-group">
                  <select class="form-control custom-select" id="exampleSelect3">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
              </div>
          </div>
        
          <div class="container-fluid">
            <div class="row">
              <div class="col offset-9">
                <button class="btn btn-primary mr-2" type="submit">Valider</button>
        
               
              </div>
            </div>
          </div>
        
        </form>
    </div>
  </div>

<div class="card border-0 mb-4 p-0">
  <div class="card-body pt-0 widget-body">
    <div class="row m-3">

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Exporter
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">CSV</a>
          <a class="dropdown-item" href="#">PDF</a>
          <a class="dropdown-item" href="#">XLSX</a>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">

    <ng2-smart-table class="table table-hover" [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)"
      (rowSelect)="onRowSelect($event)" (userRowSelect)="onUserRowSelect($event)" (rowHover)="onRowHover($event)" (custom)="onCustom($event)"></ng2-smart-table>
  </div>
</div>